* {
    box-sizing: border-box;
}

/* Typography */

@font-face {
    font-family: lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: eurofurence;
    src: url(../fonts/eurofurence/eurof76.ttf);
}

/* Base */

html {
    font-family: lato, sans-serif;
}

body {
    margin: 0;
    background-color: #e8e9ed;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

/* Layout */

.container {
    max-width: 1100px;
    margin: 0px auto;
}

/* navbar */

header {
    background-color: #ff8360;
}

.main-nav a {
    color: #fcfae1;
    height: 66px;
    width: 100px;
    justify-content: center;
    font-size: 20px;
}

.main-nav a:hover {
    color: black;
    box-shadow: inset 0 -6px 0 black;
}

.main-nav a.active {
    color: black;
    box-shadow: inset 0 -6px 0 black;
}

.logo a {
    color: #fcfae1;
    font-family: eurofurence, sans-serif;
    font-size: 2.5rem;
}

/* main */

.main-content {
    background-color: #e8e9ed;
}

.image-gallery {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-gallery img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.image-gallery img:hover {
    opacity: 0.9;
}

.meme-container {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
}

.canvas-container {
    display: none;
}

canvas {
    display: block;
}

.btn-container {
    display: none;
    margin: 0;
}

.text-input {
    width: 350px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin: 10px auto;
    padding: 10px;
}

.text-input:focus {
    border: solid black 1px;
    outline-width: 0;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #f1f2f6;
    border: none;
    cursor: pointer;
    margin: 10px;
    outline-width: 0;
}

.increase-icon,
.decrease-icon,
.remove-icon {
    width: 28px;
    height: 30px;
}

.up-icon,
.down-icon,
.switch-line-icon {
    width: 28px;
    height: 28px;
}

.align-left-icon,
.align-center-icon,
.align-right-icon {
    width: 30px;
    height: 25px;
}

.add-line-icon {
    width: 25px;
    height: 25px;
}

.fill-color {
    font-size: 30px;
    color: black;
}

.input-color-container {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 2px #ddd;
    border-radius: 40px;
}

.input-color {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
}

.color {
    height: 20px;
    width: 10px;
}

.change-font {
    height: 50px;
    width: 200px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    outline-width: 0;
    border: none;
}

.change-font:focus {
    border: solid black 1px;
}

.impact-font {
    font-family: Impact;
}

.arial-font {
    font-family: Arial;
}

.georgia-font {
    font-family: "Comic Sans MS";
}

.share-btn,
.download-btn {
    width: 100px;
    height: 50px;
    border-radius: 12px;
    background-color: #ff8360;
    border: none;
    cursor: pointer;
    color: #fcfae1;
    font-size: 17px;
    outline-width: 0;
}

.btn-row-5 {
    justify-content: flex-end;
    padding: 30px;
    position: relative;
}

.share-btn:hover,
.share-btn:focus,
.download-btn:hover,
.download-btn:focus {
    border: solid black 1px;
}

.share-content,
.download-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.share-content a,
.download-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.share-content a:hover,
.download-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.fa-facebook:before {
    color: #4167b2;
    padding-right: 7px;
}

/* search */

.search-container {
    height: 100%;
    background-color: #f7f7f9;
    padding: 30px;
}

.search-input {
    border: none;
    border-bottom: solid black 2px;
    background-color: inherit;
    width: 200px;
    outline-width: 0;
    font-size: 18px;
}

.search-btn {
    background-color: transparent;
    border: none;
    border-bottom: solid black 2px;
    outline-width: 0;
}

.search-icon {
    width: 20px;
    height: 20px;
}

/* about */

.about-container {
    height: 100%;
    background-color: #f7f7f9;
    padding: 30px;
}

.about-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-p {
    font-size: 17px;
    line-height: 1.4;
}

.about-me {
    flex-basis: 40%;
    padding-left: 50px;
}

.link {
    width: 39px;
    height: 39px;
    background-color: #ff8360;
    margin: 2px;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
}

.fab {
    vertical-align: middle;
    font-size: 25px;
    color: #fcfae1;
}

/* footer */

footer {
    background-color: #ff8360;
    height: 120px;
    text-align: center;
    width: 100%;
}

footer .logo {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* memes page */

.saved-memes {
    display: none;
    min-height: 450px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    padding-top: 20px;
}

.saved-memes img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* helpers */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.clean-list {
    list-style: none;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.flex-none {
    flex: none;
}

@media (max-width: 1120px) {
    .meme-container {
        flex-direction: column;
        justify-content: center;
    }
    .canvas-container {
        align-self: center;
    }
    .btn-container {
        align-self: center;
    }
}
